// https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css

@use postcss-cssnext;


html,
body {
  min-height: 100%;
}

body {
  
}

.mw-container {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 3em 1em;
}
